.imgs {
    margin-top: 4rem;
}

.space {
    padding-top: 2rem;
    margin-top: 2rem;
    background-color: black;
}


.padding{
    padding-top: 3rem;
}

.paddingnum{
    padding-top: 2rem;
    display: block;
}
.active{
    transform:scale(1.5);
}
.activ{
    color:white;
}
.displays{
    display:none;
}
@media screen and (max-width:600px){

}
