.imgs {
    margin-top: 4rem;
}

.space {
    padding-top: 2rem;
    margin-top: 2rem;
    background-color: black;
}


.padding{
    padding-top: 8rem;
}


.active{
    transform:scale(1.5);
}
.activ{
    color:white;
}
